/* styles.css */

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Login Form Styles */
#login-form {
    margin-top: 20px;
}

#login-form label {
    text-align: left;
}

#login-form input {
    margin-bottom: 15px;
}

/* Birthday Page Styles */
.bg-pink {
    background-color: #ffb6c1;
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.slides {
    width: 100%;
    display: none;
    border-radius: 10px;
}

/* Wedding Page Styles */
.bg-light {
    background-color: #f8f9fa;
}

/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
}
